/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_17_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_17_26_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_20_38/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_20_381/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_17_26__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_20_38.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_18_02_2023_20_381.xml
/.idea/shelf/Uncommitted_changes_before_rebase.xml
